@model task_2._0.Models.Login

@{
    ViewBag.Title = "LoginStudent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.1.js"></script>


    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
}

<h2>LoginStudent</h2>
@using (Html.BeginForm("LoginStudent", "Book"))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.Email)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Email)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.Email)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Password)
            </td>
            <td>
                @Html.PasswordFor(m => m.Password)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.Password)
            </td>
        </tr>
        <tr>

            <td>
                @TempData["value"]
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Signin" />
            </td>
        </tr>

    </table>

}

